/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F8F9FA;
    color: #343A40;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}