/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F8F9FA;
    color: #343A40;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Styling the navigation links */
.nav-link {
    color: #0056b3;
    font-weight: bold;
    transition: color 0.3s;
}

/* Changing the color of the navigation links on hover */
.nav-link:hover {
    color: #FFC107;
}

/* Styling the active navigation link */
.nav-link.active {
    color: #FFC107;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Styling the brand name */
.navbar-brand {
    color: hwb(273 4% 69%);
    font-weight: bold;
    transition: color 0.3s;
}

/* Changing the color of the brand name on hover */
.navbar-brand:hover {
    color: #FFC107;
}

/* Styling the founder's image */
.img-fluid {
    border-radius: 20%;
}

/* Styling the card body */
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Styling the card text */
.card-text {
    flex-grow: 1;
}

/* Hero Section Styles */
.jumbotron {
    color: #007BFF;
    padding: 90px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jumbotron h1 {
    font-size: 2.5em;
    margin-bottom: 20px;

}

.jumbotron p {
    font-size: 1.5em;
    color: white;
}

.jumbotron .btn {
    padding: 10px 20px;
    background-color: #0564117a;
}

.why-finergycloud p {
    align-self: flex-end;
    color: white;
}

/* Why FinergyCloud Section */
.container h2 {
    color: #0056b3;
    margin-bottom: 20px;
}

/* Card Styles */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-icon {
    font-size: 2em;
    color: #007BFF;
}